:root {
  --ion-color-bg: #181818;
  --ion-color-bg-rgb: 24, 24, 24;
  --ion-color-bg-contrast: #ffffff;
  --ion-color-bg-contrast-rgb: 255, 255, 255;
  --ion-color-bg-shade: #151515;
  --ion-color-bg-tint: #2f2f2f;

  --ion-color-bg-200: #292929;
  --ion-color-bg-200-rgb: 41, 41, 41;
  --ion-color-bg-200-contrast: #ffffff;
  --ion-color-bg-200-contrast-rgb: 255, 255, 255;
  --ion-color-bg-200-shade: #242424;
  --ion-color-bg-200-tint: #3e3e3e;
}

.ion-color-bg {
  --ion-color-base: var(--ion-color-bg);
  --ion-color-base-rgb: var(--ion-color-bg-rgb);
  --ion-color-contrast: var(--ion-color-bg-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bg-contrast-rgb);
  --ion-color-shade: var(--ion-color-bg-shade);
  --ion-color-tint: var(--ion-color-bg-tint);
}

.ion-color-bg-200 {
  --ion-color-base: var(--ion-color-bg-200);
  --ion-color-base-rgb: var(--ion-color-bg-200-rgb);
  --ion-color-contrast: var(--ion-color-bg-200-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bg-200-contrast-rgb);
  --ion-color-shade: var(--ion-color-bg-200-shade);
  --ion-color-tint: var(--ion-color-bg-200-tint);
}
